/* This is just a placeholder */
.ts {
  text-shadow: 0px 0px 5px #000;
}
.viewPage {
  .v-navigation-drawer {
    display: none;
  }
  .v-toolbar {
    display: none;
  }
  main {
    padding: 0px !important;
    .container {
      padding: 16px;
    }
  }
}

.custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  .hoverCursor {
    cursor: pointer;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }